@model BurgerPlace.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Carousel"/>
<h1>Items em destaque</h1>
<div class="row">
@foreach(var item in Model.ItensEmDestaque){
<partial name="_Card" for="@item"></partial>
}
</div>
